#header{
            width:1370px;
            height:150px; 
            margin-top: -10px;
            margin-bottom: auto;
            margin-left:-20px; 
            margin-right:auto; 
            display: flex;
            background-color:#2260ff; 
            }
#logo{
      margin-left: 500px;
      display: block;
}
#play{
      margin-right: 10px;
      margin-left: 450px;
      margin-top: 30px;
      margin bottom: 20px;
     
     
}
#bgtombol{
            width:1370px;
            height:50px; 
            margin-left:-20px; 
            margin-right:auto; 
            background-color:#dddddd; 
}
#tombol1{
      width: 256px;
      height: 50px;
      padding:auto;
      background: #13f4ff;
      color: #808080;
      display: inline-block;
      transition: .3s ease-in;
      margin-left: 10px;
      font-family:  Open Sans Light;
}

#tombol{
      width: 256px;
      height: 50px;
      padding:auto;
      background: #dddddd;
      color: #808080;
      display: inline-block;
      transition: .3s ease-in;
      margin-left: 10px;
      font-family:  Open Sans Light;
}
#tombol:hover{
    background-color:#13f4ff;
}
#menu{
  width:1200px;
  height:3em;
  padding:0 10px;
  background:#333;
  color:#eee;
  display: inline-block;
  margin-right: 1000px;
  
}

label{
  position:relative;
  display:block;
  padding:0 18px 0 12px;
  line-height:3em;
  transition:background 0.3s;
  cursor:pointer;
}


/*hide the inputs*/
input{display:none}

/*show the second levele menu of the selected voice*/
input:checked ~ ul.submenu{
  max-height:1000px;
  transition:max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#ffffff;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
}

ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
}

ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
}
img.border{
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 100px;
	margin-left: 10px
	
	
}
